<a href="https://colab.research.google.com/github/muhammadhashim2133/Linux-summey/blob/main/pythonRevision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Function**

In [ ]:
print("pakistan")
print("zindabad")   #ctr+shift+spaceBar to check funtion sigsnature  #print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

pakistan
zindabad

In [ ]:
print("pakistan","zindabad")
print("pakistan","zindabad", sep="#",end="")
print("pakistan","zindabad")

pakistan zindabad
pakistan#zindabadpakistan zindabad

# **Veriable**

In [ ]:
a=10 # a is identifier  = is assignment and 10 is data

# **Operators**

In [ ]:
 # +,-,*,/

In [ ]:
a=10
d=2
b=2.5
c=a+b
e=a+d
print(c)   # if one value is floating point anss will be floating
print(e)
print(a/d) # it always give floating point division by default
print(a//d) # // give integer division

12.5
12
5.0
5

# **if elif else**

In [ ]:
a=10
b=20

if a<b:
  print("its correct")  #if condition is true this block will execute
print("hello")          #if the block is not indent it always execute either condition is true or false

its correct
hello

**bold text**# **Input**

In [ ]:
a=input("write any number: ")
print(a)
type(a)    # give string output

write any number: 8
8

str

# **List**

In [ ]:
a=[12,32,"book"] # bunch of values in a single variable, it is mutable and changeable
print(a)

[12, 32, 'book']

In [ ]:
a[1] # access value from the list

32

In [ ]:
len(a) # to check the memberse or values

3

### Adding a member to list

In [ ]:
listOfFruits=[]
listOfFruits.append("apple")# append add members in the end
listOfFruits

['apple']

In [ ]:
listOfFruits.insert(0,"mango") #add member in the list, also need index value (where to insert the member in the list)
listOfFruits

['mango', 'apple']

In [ ]:
listOfFruits.extend(["banana","cherry","banana"]) # work same like append but it add more then one value. append can add only one value
listOfFruits

['mango', 'apple', 'banana', 'cherry', 'banana']

In [ ]:
listOfFruits.count("banana") #count he accurance of the value

2

### searching/finding value from list

In [ ]:
print(listOfFruits.index("cherry")) #return the index of value

print("cherry" in listOfFruits) #it return boolean value

3
True

In [ ]:
listOfFruits.clear() #Remove all items from list
listOfFruits

[]

In [ ]:
fruitsA=["banana","cherry","banana"]
fruitsA

['banana', 'cherry', 'banana']

In [ ]:
fruitsB=fruitsA.copy()    #copy by value (changing in a new list will not affect on origional list)
fruitsB

['banana', 'cherry', 'banana']

In [ ]:
fruitsB.append("newfruit")
print(fruitsB)
print(fruitsA)

['banana', 'cherry', 'banana', 'newfruit']
['banana', 'cherry', 'banana']

In [ ]:
fruitsC=fruitsA
fruitsC.append("newXfruit")  #copy by reference(changing in a new list will  affect on origional list)
fruitsA

['banana', 'cherry', 'banana', 'newXfruit']

### remove value from list {del, remove}

In [ ]:
del fruitsA[0] # remove by index
fruitsA

['cherry', 'banana', 'newXfruit']

In [ ]:
fruitsA.remove("newXfruit")
fruitsA  # remove by value name

['cherry', 'banana']

In [ ]:
cities=["khi","lahor","multan","quetta"]

###pop

In [ ]:
popcities=cities.pop()
print(f"this city is pop from list: {popcities}")  # bydefault pop remove value from the end of list
print(f"this cities are remaining in the list: {cities}")

this city is pop from list: quetta
this cities are remaining in the list: ['khi', 'lahor', 'multan']

In [ ]:
popbyindex=cities.pop(0)
print(f"this city is pop from list: {popbyindex}")  # we can pop value using index also and return it
print(f"this cities are remaining in the list: {cities}")

this city is pop from list: khi
this cities are remaining in the list: ['lahor', 'multan']

In [ ]:
cities.sort() #sort in assending order
cities

['lahor', 'multan']

In [ ]:
cities.sort(reverse=True)
cities

['multan', 'lahor']

In [ ]:
cities.reverse() #just reverse the value from the list
cities

['multan', 'lahor']

# slicing

In [ ]:
students=["name1","name2","name3","name4"]

In [ ]:
students[1:3] #here 1 is inclusive and 3 is exclusive

['name2', 'name3']

In [ ]:
students[-2] #is called negative indexing

'name3'

In [ ]:
students[-4:-1]

['name1', 'name2', 'name3']

In [ ]:
students[:]

['name1', 'name2', 'name3', 'name4']

In [ ]:
students[1:]

['name2', 'name3', 'name4']

In [ ]:
students[:-1]

['name1', 'name2', 'name3']

In [ ]:
students[2:-3]  #it give empty list bcause it always run left to right

[]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
numbers[0:12:2] #here 2 is step

[1, 3, 5, 7, 9, 11]

# **Touple**

###Touple are just like list but only difference is touples are immutable. you can not add, delete or change the elements after creation of touple instance. we can just use it

In [ ]:
Atuple=("hashim",100,"raza")

In [ ]:
Atuple[1]
# del Atuple[2] it will not delete the value of tuple

100

In [ ]:
Atuple.index("raza")

2

In [ ]:
Atuple.count("hashim")

1

In [ ]:
len(Atuple)

3

In [ ]:
a=12,32,"ali" # we can also make tuple like this

In [ ]:
a

(12, 32, 'ali')

# **For loops**

### There are two loops in python for loops and while loops


*   use for repeted task

In [5]:
for a in range(5):
  print(a, "pak")

0 pak
1 pak
2 pak
3 pak
4 pak

In [6]:
for a in range(2,10):
  print(a)

2
3
4
5
6
7
8
9

In [7]:
for a in range(2,10,2):
  print(a)

2
4
6
8

In [8]:
for a in range(10,0,-2):
  print(a)

10
8
6
4
2

In [10]:
cities=["khi","lahor","multan","quetta"]
for city in cities:
  print(city)

khi
lahor
multan
quetta

In [11]:
for num in [12,32,43,54,64,5,"apple"]:
  print(num)

12
32
43
54
64
5
apple

In [12]:
name="pakistan"
for char in name:
  print(char)

p
a
k
i
s
t
a
n

In [13]:
name="pakistan","iran"
for char in name:
  print(char)

pakistan
iran

###**break and continue**

In [14]:
for a in range(0,10):
  if a==6:          #it will break when a will be 6
    break
  print(a)

0
1
2
3
4
5

In [17]:
for a in range(0,10):
  if a==5:    # here 5 will not be print
    continue
  print(a)

0
1
2
3
4
6
7
8
9

#**Nested for loop**

In [23]:
for a in range(5):
  print("inner loop begins")
  for char in "china":
    print(a,char)

inner loop begins
0 c
0 h
0 i
0 n
0 a
inner loop begins
1 c
1 h
1 i
1 n
1 a
inner loop begins
2 c
2 h
2 i
2 n
2 a
inner loop begins
3 c
3 h
3 i
3 n
3 a
inner loop begins
4 c
4 h
4 i
4 n
4 a

In [27]:
table=int(input("input table number: "))

for a in range(11):
  print(f"{table} * {a} = {table*a}")

input table number: 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [32]:
tableRange=int(input("input table range"))

for a in range(2,tableRange+1):
  for b in range(1,11):
    print(f"{a} * {b} ={a*b}")

input table range12
2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20
3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30
4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50
6 * 1 =6
6 * 2 =12
6 * 3 =18
6 * 4 =24
6 * 5 =30
6 * 6 =36
6 * 7 =42
6 * 8 =48
6 * 9 =54
6 * 10 =60
7 * 1 =7
7 * 2 =14
7 * 3 =21
7 * 4 =28
7 * 5 =35
7 * 6 =42
7 * 7 =49
7 * 8 =56
7 * 9 =63
7 * 10 =70
8 * 1 =8
8 * 2 =16
8 * 3 =24
8 * 4 =32
8 * 5 =40
8 * 6 =48
8 * 7 =56
8 * 8 =64
8 * 9 =72
8 * 10 =80
9 * 1 =9
9 * 2 =18
9 * 3 =27
9 * 4 =36
9 * 5 =45
9 * 6 =54
9 * 7 =63
9 * 8 =72
9 * 9 =81
9 * 10 =90
10 * 1 =10
10 * 2 =20
10 * 3 =30
10 * 4 =40
10 * 5 =50
10 * 6 =60
10 * 7 =70
10 * 8 =80
10 * 9 =90
10 * 10 =100
11 * 1 =11
11 * 2 =22
11 * 3 =33
11 * 4 =44
11 * 5 =55
11 * 6 =66
11 * 7 =77
11 * 8 =88
11 * 9 =99
11 * 10 =110
12 * 1 =12
12 * 2 =24
12 * 3 =36
12 * 4 =48
12 * 5 =60
12 * 6 =72
12 * 7 =84
12 * 8 =96
12 * 9 =108
12 * 10 =120

#**Type casting**

In [35]:
number=float(input("enter number"))
type(number)

enter number5

float

#**Changing case of string**

In [39]:
name="pakistan"
print(name.upper())
print(name.lower())

PAKISTAN
pakistan

#**Dictionaries**


*   key value pair
*   data types of key can be string, int, float and data type of value can be string, int, float, list, dictionary


*   dictName={key:value,key:value}

In [44]:
myDict={"name":"hashim","age":23,"gender":"male"}

In [48]:
len(myDict)

4

adding a new key ro existing dictionary

In [46]:
myDict["email"]="hashim@gmail.com"

In [47]:
myDict

{'name': 'hashim', 'age': 23, 'gender': 'male', 'email': 'hashim@gmail.com'}

accessing info from dictionary

In [50]:
myDict["name"]

'hashim'

In [51]:
newDic={1:"ali",2:"raza"} #key can be string or number
print(newDic[1])
print(newDic[2])

ali
raza

# deleting a key

In [52]:
del newDic[1]
newDic

{2: 'raza'}

updating a new dictionary

In [53]:
myDict["name"]="ali"
myDict

{'name': 'ali', 'age': 23, 'gender': 'male', 'email': 'hashim@gmail.com'}

value of same key will be over write

In [54]:
newDicA={"name":"hashim","name":"ali","class":14}

In [55]:
newDicA

{'name': 'ali', 'class': 14}

to check key

In [56]:
"name" in newDicA

True

In [ ]:
pritn("ds")